<div class="container">
    <div class="column">
        <form method="post" action="/">
            <div class="room-login_user text-2xl">
                こんにちは、{{userName}}さん！
                <input id="userName" type="hidden" value="{{userName}}">
            </div>
            <div class="room-message">
                <label class="block">
                    <textarea id="message" class="form-textarea mt-1 block w-full" rows="4" placeholder="もじをにゅうりょくしてね！"></textarea>
                </label>
            </div>
            <div class="room-submit">
                <input type="button" value="投稿" class="post-button rounded-full flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-400" onclick="publish();">
            </div>
            <div class="room-submit">
                <input type="button" value="メモ" class="memo-button rounded-full flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-400" onclick="memo();">
            </div>
            <div class="room-exit">
                <input type="button" value="退室する" class="fixed_btn mb-3 rounded-full flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-400" onclick="exit();">
            </div>
            <div class="room-thread">
                <div id="memo" class="text-2xl">
                    <table>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="thread" class="text-2xl">
                    <table>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <form method="post" action="/shiritori">
            <div class="index-enter">
                <input name="userName" type="hidden" value="{{userName}}">
                <input type="submit" value="しりとりモード" class="common-button rounded-full flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-400">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
